*
{
    padding: 0;
    margin: 0;
}
.boss{
    background-color: seagreen;

}
    
.photo{
    width: 5%;
    margin: 20%;
    padding: 12PX;;
}


    



.keren{
    background-color: orangered ;
}


.Vraince{

    background-color:lightblue ;
}

